.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/TitleSlide.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 554px 542px 60px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-family: Merriweather, serif;
    font-weight: normal;
    width: auto;
    margin-top: 251px;
    margin-right: 214px;
    margin-left: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 81.64% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 226px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 87.54% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-right: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 767px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 648px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 21px 157px 0 23px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  margin: 23px 23px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 47px 299px 0 46px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -57px 47px 0 300px;
}

.u-section-2 .u-line-1 {
  height: 123px;
  transform-origin: center top 0px;
  top: 354px;
  position: absolute;
  width: 3px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 32px 276px 0 23px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -75px 23px 0 276px;
}

.u-section-2 .u-text-7 {
  margin: 55px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 80px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-weight: normal;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 246px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 199px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 135px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 136px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 89px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 14px;
}.u-section-4 .u-sheet-1 {
  min-height: 461px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 52px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 355px;
  margin-top: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  margin-top: 0;
  min-height: 355px;
}

.u-section-4 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-4 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 0 60px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 153px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 341px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 47px auto 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 16px;
  margin-bottom: 34px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 206px;
}

.u-section-5 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-icon-1 {
  height: 55px;
  width: 64px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  width: 200px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-icon-2 {
  height: 52px;
  width: 64px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-4 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  width: 200px;
  margin: 20px auto 0;
}

.u-section-5 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-icon-3 {
  height: 51px;
  width: 64px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-6 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  width: 200px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 315px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-5 .u-text-5 {
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 202px;
}

.u-section-6 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 24px 866px 0 33px;
}

.u-section-6 .u-text-2 {
  margin: 16px 657px 0 33px;
}

.u-section-6 .u-text-3 {
  margin: 0 657px 24px 33px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 699px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 490px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 490px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 479px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 270px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 299px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}