.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("Images/TitleSlide.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 456px;
}

.u-section-1 .u-text-1 {
  margin: 290px 491px 60px 281px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-1 .u-text-1 {
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 3rem;
    width: auto;
    margin-top: 251px;
    margin-right: 214px;
    margin-left: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 81.64% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 70px;
    margin-right: 281px;
    margin-left: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 87.54% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 0;
    margin-right: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 258px;
}

.u-section-2 .u-line-1 {
  height: 123px;
  transform-origin: center top 0px;
  top: 60px;
  position: absolute;
  width: 3px;
  left: auto;
  right: 555px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 41px 809px 0 201px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -57px 175px 0 837px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 44px 786px 0 178px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -75px 151px 41px 813px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 709px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 75px;
    margin-left: 737px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 686px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 51px;
    margin-left: 713px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 590px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 592px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 544px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 544px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 410px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 412px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 364px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 212px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 164px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 164px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 537px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 447px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 447px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 21px 157px 0 23px;
}

.u-section-3 .u-text-2 {
  background-image: none;
  animation-duration: 500ms;
  font-weight: normal;
  margin: 23px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 243px;
}

.u-section-4 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 28px 0 0 20px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 0 804px 0 206px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -57px 205px 0 805px;
}

.u-section-4 .u-shape-1 {
  width: 101px;
  height: 59px;
  margin: -31px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: -13px 781px 0 183px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -50px 182px 55px 782px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 704px;
    margin-left: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 105px;
    margin-left: 705px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 681px;
    margin-left: 83px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 82px;
    margin-left: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 590px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 590px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 544px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 544px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 410px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 410px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 364px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-right: 210px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 210px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 164px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 164px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 440px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 369px;
  margin-top: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  margin-top: 0;
  min-height: 369px;
}

.u-section-5 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-5 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 0 90px 0 30px;
}

.u-section-5 .u-text-2 {
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 304px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 33px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 153px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 14px;
}.u-section-7 .u-sheet-1 {
  min-height: 690px;
}

.u-section-7 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Abril Fatface";
  margin: 47px 523px 0 24px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 28px;
  margin-bottom: 48px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 529px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 529px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-7 .u-text-2 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 24px 44px 0 117px;
}

.u-section-7 .u-shape-1 {
  width: 45px;
  height: 45px;
  margin: -61px auto 0 28px;
}

.u-section-7 .u-text-3 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 97px 44px 0 117px;
}

.u-section-7 .u-shape-2 {
  width: 45px;
  height: 45px;
  background-image: none;
  margin: -60px auto 0 28px;
}

.u-section-7 .u-text-4 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 109px 44px 0 117px;
}

.u-section-7 .u-shape-3 {
  width: 45px;
  height: 45px;
  margin: -60px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 436px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 61px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 61px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 127px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 315px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 204px;
}

.u-section-8 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 29px -14px 0 34px;
}

.u-section-8 .u-text-2 {
  margin: 9px 35px 29px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 113px;
}

.u-section-9 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  margin: 25px 866px 0 33px;
}

.u-section-9 .u-text-2 {
  margin: -32px 504px 32px 186px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 699px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 404px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 479px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 270px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 299px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}
